<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
</head>

<body>

  <main class="container center">

    <h1>Hoteis Force</h1>

    <p>Tem certeza que deseja sair?</p>

    <form th:action="${'/logout'}" method="post">
      <a href="/hoteis" class="btn grey">Cancelar</a>
      <button class="btn">Sim, quero sair</button>
    </form>

  </main>

</body>

</html>