<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav class="blue darken-1">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Inventário Rádios Anserve</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/hoteis">Hoteis Cadastrados</a></li>
      <li><a href="#">Reposição dos rádios</a></li>
      <li><a href="#">Inventário total</a></li>
    </ul>
  </div>
</nav>
<main class="container">
  <h2>Cadastrar hotel</h2>
  <div class="card">
    <form class="col s12" th:action="${'/task'}" method="post" th:object="${task}">
        <div class="card-content">

          <div class="row">
            <div class="input-field col s12">
              <input th:field="*{title}" type="text" class="validate" th:classappend="${#fields.hasErrors()} ? invalid">
              <label for="title">Título</label>
              <span class="helper-text red-text" th:errors="*{title}"></span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea class="materialize-textarea" th:field="*{description}"></textarea>
              <label for="description">Descrição</label>
              <span class="helper-text red-text" th:errors="*{description}"></span>
            </div>
          </div>
          <label>Prioridade</label>
          <select name="priority" class="browser-default">
            <option value="" disabled selected>Escolha a prioridade</option>
            <option value="1">ALTA</option>
            <option value="2">MÉDIA</option>