<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
@@ -18,6 +19,7 @@
        <li><a href="/hoteis">Hoteis caddastrados</a></li>
        <li><a href="#">Concluídos</a></li>
        <li><a href="#">Rádios</a></li>
        <li><img class="avatar" th:src="${avatar_url}" alt=""></li>
      </ul>
    </div>
  </nav>
  <main class="container">
    <div class="card-panel teal accent-3" th:if="${success}" th:text="${success}"></div>
    <div class="card-panel red accent-3 white-text" th:if="${error}" th:text="${error}"></div>
    <h2>Hoteis caddastrados</h2>
    <div class="row">
      <div class="col s12 m6 l4" th:each="task : ${tasks}">
        <div class="card">
          <div class="card-content">
            <div class="row valign-wrapper">
              <span class="card-title col s8" th:text="${task.title}"></span>
              <span class="card-title col s4">
                <span class="badge red white-text" th:text="${task.priority}"></span>
              </span>
            </div>
            <p th:text="${task.description}"></p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn">EDITAR</a>
            <a th:href="${'/task/delete/' + task.id}" class="waves-effect waves-light btn red">EXCLUIR</a>
            <a class="waves-effect waves-light btn blue">CONCLUÍDA</a>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-action-btn">
      <a href="/hotel/new" class="btn-floating btn-large blue darken-1">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </main>
</body>
</html>